.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# all files starting with .
.*

src/
migrations/
tests/

target/debug/*
!target/debug/flipid

target/release/*
!target/release/flipid

config/

*.md